{% load i18n static %}
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afa17fc1ea8cb938dcbd396ea23681358b172abae50ea36e6c30938d6ee9cc37e&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>

    <footer id="Footer" class="clearfix">
        <div class="widgets_wrapper" style="padding:70px 0">
            <div class="container">
                <div class="column one-third">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <img class="scale-with-grid" src="{% static 'content/estate2/images/icon1.png' %}" style="float: left;">

                            <h5 style="margin-top: 7px; margin-left: 15px; float: left;">
                                info@pharmline.uz
                            </h5>

                        </div>
                    </aside>
                </div>
                <div class="column one-third">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <img class="scale-with-grid" src="{% static 'content/estate2/images/icon2.png' %}" style="float: left;">

                            <h5 style="margin-top: 7px; margin-left: 15px; float: left;">
                                {% trans 'г. Ташкент, 100105, улица' %} <br>{% trans 'Оккурган, д.31' %}
                            </h5>

                        </div>
                    </aside>
                </div>
                <div class="column one-third">
                    <aside class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                            <img class="scale-with-grid" src="{% static 'content/estate2/images/icon3.png' %}" style="float: left;">

                            <h5 style="margin-top: 7px; margin-left: 15px; float: left;">
                                +998 (71) 281 45 52
                            </h5>

                        </div>
                    </aside>
                </div>

            </div>
        </div>
        <div class="footer_copy">
            <div class="container">
                <div class="column one">

                    <div class="copyright" style="text-align: center;">
                        Copyright &copy; 2020 | PharmLine.uz
                    </div>

                </div>
            </div>
        </div>
    </footer>


    <!-- side menu -->
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="menu_wrapper"></div>
        <ul class="social">
            <li class="skype">
                <a href="#" title="Skype"><i class="icon-skype"></i></a>
            </li>
            <li class="facebook">
                <a href="#" title="Facebook"><i class="icon-facebook"></i></a>
            </li>
            <li class="twitter">
                <a href="#" title="Twitter"><i class="icon-twitter"></i></a>
            </li>
        </ul>
    </div>
    <div id="body_overlay"></div>